name: Python CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.6', '3.7']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip3 install --upgrade pip cython numpy || pip3 install --upgrade --user pip cython numpy;
        pip3 install flake8 || pip3 install --user flake8;
        pip3 install codecov pytest-cov || pip3 install --user codecov pytest-cov;

    - name: Run tests
      run: |
        pip3 install .
        flake8 --exit-zero skfda;
        coverage run --source=skfda/ setup.py test;

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
