name: Tests

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.10']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip3 install pytest-cov || pip3 install --user pytest-cov;

    - name: Run tests
      run: |
        pip3 debug --verbose .
        pip3 install mkl-devel
        pip3 install ".[test]"
        pytest --cov=skfda/ --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
